#####################################################################
# BEACON H / REVH MACROS - VORON 2.4
#####################################################################

[gcode_macro BEACON_VARS]
description: Variables principales para Beacon H / Voron 2.4
variable_center_x: 175
variable_center_y: 175
variable_probe_temp: 150
variable_thermal_z_offset: 0.060
variable_mesh_runs: 2
variable_park_x: 175
variable_park_y: 300
variable_prime_x: 5
variable_prime_y: 20
gcode:
    {% set V = printer["gcode_macro BEACON_VARS"] %}
    RESPOND TYPE=command MSG="Beacon Vars: center X={V.center_x} Y={V.center_y}, probe_temp={V.probe_temp}, thermal_z_offset={V.thermal_z_offset}, mesh_runs={V.mesh_runs}"


[gcode_macro BEACON_QUERY_NOW]
description: Lee la distancia actual de Beacon
gcode:
    BEACON_QUERY

    [gcode_macro BEACON_HOME_CONTACT]
description: Home Z usando Beacon Contact con calibración
gcode:
    {% set V = printer["gcode_macro BEACON_VARS"] %}
    G90
    G28 X Y
    G0 X{V.center_x} Y{V.center_y} F12000
    M109 S{V.probe_temp}
    G28 Z METHOD=contact CALIBRATE=1


[gcode_macro BEACON_HOME_PROXIMITY]
description: Home Z usando Beacon por proximidad
gcode:
    {% set V = printer["gcode_macro BEACON_VARS"] %}
    G90
    G28 X Y
    G0 X{V.center_x} Y{V.center_y} F12000
    G28 Z METHOD=proximity CALIBRATE=0


[gcode_macro BEACON_AUTO_Z]
description: Auto calibración Beacon Contact en el centro de la cama
gcode:
    {% set V = printer["gcode_macro BEACON_VARS"] %}
    G90
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    G28 X Y
    G0 X{V.center_x} Y{V.center_y} F12000
    M109 S{V.probe_temp}
    BEACON_AUTO_CALIBRATE
    RESPOND TYPE=command MSG="Beacon auto calibrado. Si quedó correcto, ejecuta SAVE_CONFIG."



[gcode_macro BEACON_VARS]
variable_beacon_contact_calibration_temp: 150                           # nozzle temperature for auto calibration
variable_adaptive_mesh: False                                           # REQUIRES zero_reference_position to be setup in [bed_mesh]
# Do not modify below
gcode:

[gcode_macro FAST_QGL]
gcode:
    M117 QUAD_GANTRY_LEVEL
    {% if printer.configfile.settings.quad_gantry_level %}
        {% if printer.quad_gantry_level.applied == False %}
            QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1
        {% endif %}
        QUAD_GANTRY_LEVEL horizontal_move_z=2
    {% endif %} 

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    FAST_QGL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32